html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Lexend Deca", sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  color: black;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 515px) {
  .container {
    max-width: 515px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  .container {
    width: 900px;
    width: 100%;
    margin: 0 auto;
  }
}
a :visited :hover :active :link {
  text-decoration: none;
  color: #243063;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  nav {
    width: 99%;
    justify-content: left;
  }
}
@media (max-width: 515px) {
  nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
nav h1 {
  font-size: 3rem;
  width: 49%;
  margin: 1% auto;
}
@media (max-width: 900px) {
  nav h1 {
    width: auto;
    margin: 1% 2%;
  }
}
@media (max-width: 515px) {
  nav h1 {
    width: auto;
    margin: 1% auto;
  }
}
nav .nav-bar {
  width: 49%;
  display: flex;
  justify-content: flex-end;
  margin: 2% auto;
}
@media (max-width: 900px) {
  nav .nav-bar {
    justify-content: space-evenly;
    width: auto;
    margin: 2% 1%;
    flex-grow: 2;
  }
}
@media (max-width: 515px) {
  nav .nav-bar {
    justify-content: flex-end;
    width: 100%;
    margin: 2% auto;
  }
}
nav .nav-bar a {
  display: flex;
  margin: 0 0 0 6%;
  text-decoration: none;
  color: black;
}
nav .nav-bar a:hover {
  font-size: 110%;
}
@media (max-width: 900px) {
  nav .nav-bar a {
    font-size: 1.2rem;
    margin: 1% auto;
    justify-content: space-evenly;
  }
}
@media (max-width: 515px) {
  nav .nav-bar a {
    border-bottom: 1px solid #5467ca;
    font-size: 1.4rem;
    width: 100%;
    padding-bottom: 1.8%;
    justify-content: center;
  }
  nav .nav-bar a:hover {
    font-size: 160%;
  }
}
@media (max-width: 515px) {
  nav .nav-bar {
    flex-direction: column;
    align-items: center;
  }
}
.index-header-m {
  display: none;
}
@media (max-width: 515px) {
  .index-header-m {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}
footer div {
  display: flex;
  width: 100%;
  height: 5vh;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  background-color: #91c7e2;
}
header img {
  border-radius: 8px;
}
header .index-header {
  width: 100%;
  height: auto;
}
@media (max-width: 515px) {
  header .index-header {
    display: none;
  }
}
header .index-header-m {
  display: none;
}
@media (max-width: 515px) {
  header .index-header-m {
    display: flex;
    width: 100%;
    height: auto;
  }
}
.middle-content {
  display: flex;
  justify-content: center;
  margin: 5% auto;
  align-items: center;
}
@media (max-width: 900px) {
  .middle-content {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 515px) {
  .middle-content {
    display: flex;
    flex-direction: row;
    margin: 5% auto;
  }
}
.middle-content .cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2%;
  animation: fadeIn 3s;
}
@media (max-width: 900px) {
  .middle-content .cta {
    flex-direction: row;
    justify-content: space-between;
    margin: 2% auto;
  }
}
@media (max-width: 515px) {
  .middle-content .cta {
    flex-direction: column;
    justify-content: center;
    margin: 0 2% 0 0;
  }
}
.middle-content .cta h1 {
  font-size: 6rem;
  text-align: center;
}
@media (max-width: 900px) {
  .middle-content .cta h1 {
    margin: auto 2.5%;
    font-size: 5rem;
    width: 54%;
  }
}
@media (max-width: 515px) {
  .middle-content .cta h1 {
    margin: auto;
    font-size: 4rem;
    width: auto;
  }
}
.middle-content .cta .buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8%;
}
@media (max-width: 900px) {
  .middle-content .cta .buttons {
    flex-direction: column;
    width: 45%;
    margin: 2% auto;
  }
}
@media (max-width: 515px) {
  .middle-content .cta .buttons {
    margin: 8% 0 0 0;
    flex-direction: row;
    width: 100%;
  }
}
.middle-content .cta .buttons button {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #5467ca;
  background-color: #91c7e2;
  padding: 3.5% 5%;
  color: #243063;
  width: 80%;
  margin: 0 3%;
}
.middle-content .cta .buttons button a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
}
.middle-content .cta .buttons button:hover {
  background-color: #243063;
}
.middle-content .cta .buttons button:hover a {
  text-decoration: none;
  color: #FAEDC3;
}
@media (max-width: 900px) {
  .middle-content .cta .buttons button {
    margin: 5% 3% 5% 0%;
    padding: 6% 12%;
    border: 1px solid #5467ca;
  }
}
@media (max-width: 515px) {
  .middle-content .cta .buttons button {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #5467ca;
    background-color: #91c7e2;
    padding: 3.5% 5%;
    color: #243063;
    width: 80%;
    margin: 0 3%;
  }
  .middle-content .cta .buttons button a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
  }
  .middle-content .cta .buttons button:hover {
    background-color: #243063;
  }
  .middle-content .cta .buttons button:hover a {
    text-decoration: none;
    color: #FAEDC3;
  }
}
@media (max-width: 515px) {
  .middle-content .cta .buttons .b-l {
    display: none;
  }
}
.middle-content .middle-img {
  margin-left: 2%;
  animation: slideIn 1.5s ease;
}
@media (max-width: 900px) {
  .middle-content .middle-img .welcome-img {
    display: none;
  }
}
.middle-content .middle-img .tab-welcome-img {
  display: none;
}
@media (max-width: 900px) {
  .middle-content .middle-img .tab-welcome-img {
    display: inline-block;
    width: 100%;
  }
}
@media (max-width: 515px) {
  .middle-content .middle-img .tab-welcome-img {
    display: none;
  }
}
@media (max-width: 900px) {
  .middle-content .middle-img {
    margin: 0;
  }
}
.lower-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  animation: fadeIn 4s;
}
.lower-content .summary {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5%;
}
@media (max-width: 900px) {
  .lower-content .summary {
    margin-bottom: 0;
  }
}
@media (max-width: 515px) {
  .lower-content .summary {
    margin: 0 0 5% 0;
  }
}
@media (max-width: 900px) {
  .lower-content .summary p {
    margin: 3% auto;
  }
}
@media (max-width: 515px) {
  .lower-content .summary p {
    margin: 0;
  }
}
.lower-content .summary-ex {
  display: flex;
  flex-direction: column;
}
.lower-content .summary-ex p {
  margin: 0.5% auto;
  font-size: 1.3rem;
  line-height: 2rem;
}
@media (max-width: 900px) {
  .lower-content .summary-ex p {
    margin: 3% auto 0 auto;
  }
}
@media (max-width: 515px) {
  .lower-content .summary-ex p {
    margin: 0.5% auto;
  }
}
.tab-mid-img {
  display: none;
}
@media (max-width: 900px) {
  .tab-mid-img {
    display: inline-block;
    width: 100%;
    border-radius: 8px;
  }
}
@media (max-width: 515px) {
  .tab-mid-img {
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-300%);
  }
  70% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes delay {
  from {
    display: none;
  }
  to {
    display: flex;
  }
}
@keyframes textFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#about-h2 {
  color: black;
  display: flex;
  width: 65%;
  margin: 2.5% auto 0 auto;
  font-size: 3.5rem;
  border-bottom: 1px dashed #5467ca;
  padding-bottom: 3%;
}
@media (max-width: 900px) {
  #about-h2 {
    width: 100%;
    padding-left: 3%;
  }
}
@media (max-width: 515px) {
  #about-h2 {
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: auto;
    margin: 0.5% auto 2.5% auto;
    border-bottom: 1px solid #5467ca;
    height: 6vh;
  }
}
.about-body {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 auto 4% auto;
}
@media (max-width: 900px) {
  .about-body {
    width: 100%;
  }
}
@media (max-width: 515px) {
  .about-body {
    width: 95%;
  }
}
.about-body img {
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  margin: 3%;
}
@media (max-width: 900px) {
  .about-body img {
    max-width: 35%;
    max-height: 35%;
    width: 100%;
    height: 100%;
    margin: 3%;
  }
}
@media (max-width: 515px) {
  .about-body img {
    max-height: 100%;
    max-width: 100%;
    width: 98%;
    height: auto;
    margin: 3% auto;
  }
}
.about-body div .bio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 900px) {
  .about-body div .bio {
    margin: auto 2%;
    justify-content: space-between;
  }
}
@media (max-width: 515px) {
  .about-body div .bio {
    margin: auto;
    justify-content: flex-start;
  }
}
.about-body div .bio h3 {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 2.1rem;
  margin: 5% 0 5% 0;
}
@media (max-width: 900px) {
  .about-body div .bio h3 {
    font-size: 2.4rem;
  }
}
.about-body div .bio p {
  color: black;
  font-size: 1.4rem;
  line-height: 1.5rem;
}
@media (max-width: 900px) {
  .about-body div .bio p {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
.about-body div .links {
  display: flex;
}
@media (max-width: 900px) {
  .about-body div .links {
    margin-top: 3%;
  }
}
@media (max-width: 515px) {
  .about-body div .links {
    margin: 0;
  }
}
.about-body div .links button {
  cursor: pointer;
  border-radius: 4px;
  border: 1px dashed #5467ca;
  background-color: #FAEDC3;
  margin: auto 2%;
  padding: 1em 1.5em;
  color: #243063;
  width: 100%;
}
@media (max-width: 900px) {
  .about-body div .links button {
    margin: 5% 3%;
    padding: 1em 0.4em;
    border: 1px solid #5467ca;
    width: 100%;
  }
}
@media (max-width: 515px) {
  .about-body div .links button {
    margin: 4% 3%;
    padding: 1em 0.4em;
    border: 1px solid #5467ca;
    width: 100%;
  }
}
.about-body div .links button a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
}
@media (max-width: 900px) {
  .about-body div .links button a {
    font-weight: 600;
  }
}
.about-body div .links button:hover {
  background-color: #243063;
}
.about-body div .links button:hover a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #FAEDC3;
}
.about-body .about-a {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #5467ca;
  padding-right: 3%;
}
@media (max-width: 900px) {
  .about-body .about-a {
    flex-direction: row-reverse;
    padding-left: 3%;
    padding-right: 0;
  }
}
@media (max-width: 515px) {
  .about-body .about-a {
    flex-direction: column;
    padding: 0;
  }
}
.about-body .about-b {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-bottom: 1px dashed #5467ca;
  padding-left: 3%;
}
@media (max-width: 900px) {
  .about-body .about-b {
    flex-direction: row;
    padding-right: 3%;
    padding-left: 0;
  }
}
@media (max-width: 515px) {
  .about-body .about-b {
    flex-direction: column;
    padding: 0;
  }
}
.about-body .about-b .links {
  justify-content: flex-end;
}
.index-header {
  border-radius: 8px;
}
@media (max-width: 900px) {
  .index-header {
    width: 100%;
  }
}
@media (max-width: 515px) {
  .index-header {
    display: none;
  }
}
.feature-main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 3%;
  border-bottom: 1px dashed grey;
}
@media (max-width: 515px) {
  .feature-main {
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 6%;
  }
}
.feature-main .feat {
  font-size: 1.5rem;
  width: 50%;
}
@media (max-width: 900px) {
  .feature-main .feat {
    width: 60%;
  }
}
@media (max-width: 515px) {
  .feature-main .feat {
    width: 90%;
  }
}
.feature-main .feat h1 {
  color: black;
  display: flex;
  width: 65%;
  margin: 2.5% auto 0 5%;
  font-size: 3.5rem;
}
@media (max-width: 515px) {
  .feature-main .feat h1 {
    font-size: 2.5rem;
  }
}
.feature-main .feat p {
  color: black;
  display: flex;
  width: 100%;
  margin: 2.5% auto 0 5%;
}
.feature-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 900px) {
  .feature-middle {
    width: 100%;
  }
}
@media (max-width: 515px) {
  .feature-middle {
    justify-content: flex-start;
  }
}
.feature-middle .filter {
  width: 30%;
  padding: 3%;
  font-size: 1.5rem;
  margin-top: 1%;
}
@media (max-width: 900px) {
  .feature-middle .filter {
    width: 40%;
  }
}
@media (max-width: 515px) {
  .feature-middle .filter {
    width: 100%;
    border-bottom: 1px dashed grey;
    padding-bottom: 6%;
  }
}
.feature-middle .filter h1 {
  font-size: 2rem;
}
.feature-middle .features-img {
  width: 20%;
  height: auto;
  margin: 0;
  border-radius: 3%;
  margin-top: 3%;
}
@media (max-width: 515px) {
  .feature-middle .features-img {
    display: none;
  }
}
.feature-middle .beat-mobile {
  display: none;
}
@media (max-width: 515px) {
  .feature-middle .beat-mobile {
    display: flex;
    width: 100%;
    border-radius: 8px;
    height: 50%;
    margin: 0 auto;
    align-content: center;
    margin-top: 3%;
  }
}
.feature-middle .timeline {
  font-size: 1.5rem;
  margin-top: 5%;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 28%;
}
@media (max-width: 900px) {
  .feature-middle .timeline {
    margin-left: 23%;
  }
}
@media (max-width: 515px) {
  .feature-middle .timeline {
    width: 100%;
    border-bottom: 1px dashed grey;
    padding-bottom: 6%;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 0;
  }
}
.feature-middle .timeline h1 {
  font-size: 2rem;
}
.feature-middle .timeline img {
  width: 28%;
  height: auto;
  margin: 0;
  border-radius: 3%;
  display: flex;
}
@media (max-width: 515px) {
  .feature-middle .timeline img {
    display: none;
  }
}
.feature-middle .timeline .adventure {
  display: none;
}
@media (max-width: 515px) {
  .feature-middle .timeline .adventure {
    display: flex;
    width: 95%;
    justify-content: center;
    margin-left: 3%;
    margin-top: 3%;
  }
}
.feature-middle .timeline p {
  width: 40%;
}
@media (max-width: 900px) {
  .feature-middle .timeline p {
    width: 60%;
  }
}
@media (max-width: 515px) {
  .feature-middle .timeline p {
    width: 100%;
  }
}
.feature-middle .timeline .time-p {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
@media (max-width: 900px) {
  .feature-middle .timeline .time-p {
    margin-left: 15%;
  }
}
@media (max-width: 515px) {
  .feature-middle .timeline .time-p {
    margin: 0;
    padding: 0 3%;
  }
}
.feature-middle .beach-img {
  width: 20%;
  height: auto;
  margin: 0;
  border-radius: 3%;
}
@media (max-width: 515px) {
  .feature-middle .beach-img {
    display: none;
  }
}
.feature-middle .personality {
  width: 30%;
  padding: 3%;
  font-size: 1.5rem;
  margin-top: 1%;
}
@media (max-width: 900px) {
  .feature-middle .personality {
    width: 40%;
  }
}
@media (max-width: 515px) {
  .feature-middle .personality {
    width: 100%;
  }
}
.feature-middle .personality .fist-bump {
  display: none;
}
@media (max-width: 515px) {
  .feature-middle .personality .fist-bump {
    display: flex;
    width: 100%;
    border-radius: 8px;
    margin-top: 3%;
    height: auto;
  }
}
.feature-middle .personality h1 {
  font-size: 2rem;
}
