html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Lexend Deca", sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  color: black;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
a :visited :hover :active :link {
  text-decoration: none;
  color: #243063;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav h1 {
  font-size: 3rem;
  width: 49%;
  margin: 1% auto;
}
nav .nav-bar {
  width: 49%;
  display: flex;
  justify-content: flex-end;
  margin: 2% auto;
}
nav .nav-bar a {
  display: flex;
  margin: 0 0 0 6%;
  text-decoration: none;
  color: black;
}
footer div {
  display: flex;
  width: 100%;
  height: 5vh;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  background-color: #91c7e2;
}
header img {
  border-radius: 8px;
}
.middle-content {
  display: flex;
  justify-content: center;
  margin: 5% auto;
  align-items: center;
}
.middle-content .cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2%;
}
.middle-content .cta h1 {
  font-size: 6rem;
  text-align: center;
}
.middle-content .cta .buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8%;
}
.middle-content .cta .buttons button {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #5467ca;
  background-color: #91c7e2;
  padding: 3.5% 5%;
  color: #243063;
  width: auto;
}
.middle-content .cta .buttons button a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
}
.middle-content .cta .buttons button:hover {
  background-color: #243063;
}
.middle-content .cta .buttons button:hover a {
  text-decoration: none;
  color: #FAEDC3;
}
.middle-content .middle-img {
  margin-left: 2%;
}
.lower-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}
.lower-content .summary {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5%;
}
.lower-content .summary-ex {
  display: flex;
  flex-direction: column;
}
.lower-content .summary-ex p {
  margin: 0.5% auto;
  font-size: 1.3rem;
  line-height: 2rem;
}
#about-h2 {
  color: black;
  display: flex;
  width: 65%;
  margin: 2.5% auto 0 auto;
  font-size: 3.5rem;
  border-bottom: 1px dashed #5467ca;
  padding-bottom: 3%;
}
.about-body {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 auto 4% auto;
}
.about-body img {
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  margin: 3%;
}
.about-body div .bio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about-body div .bio h3 {
  color: black;
  font-size: 1.8rem;
  margin: 5% 0 5% 0;
}
.about-body div .bio p {
  color: black;
  font-size: 1.4rem;
  line-height: 1.5rem;
}
.about-body div .links {
  display: flex;
}
.about-body div .links button {
  cursor: pointer;
  border-radius: 4px;
  border: 1px dashed #5467ca;
  background-color: #FAEDC3;
  margin: 25% 4% 10% 4%;
  padding: 1% 3%;
  color: #243063;
  width: auto;
}
.about-body div .links button a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
}
.about-body div .links button:hover {
  background-color: #243063;
}
.about-body div .links button:hover a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #FAEDC3;
}
.about-body .about-a {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #5467ca;
  padding-right: 3%;
}
.about-body .about-b {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-bottom: 1px dashed #5467ca;
  padding-left: 3%;
}
.index-header {
  border-radius: 8px;
}
.feature-main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 3%;
  border-bottom: 1px dashed grey;
}
.feature-main .feat {
  font-size: 1.5rem;
  width: 50%;
}
.feature-main .feat h1 {
  color: black;
  display: flex;
  width: 65%;
  margin: 2.5% auto 0 5%;
  font-size: 3.5rem;
}
.feature-main .feat p {
  color: black;
  display: flex;
  width: 100%;
  margin: 2.5% auto 0 5%;
}
.feature-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feature-middle .filter {
  width: 30%;
  padding: 3%;
  font-size: 1.5rem;
  margin-top: 1%;
}
.feature-middle .filter h1 {
  font-size: 2rem;
}
.feature-middle .features-img {
  width: 20%;
  height: auto;
  margin: 0;
  border-radius: 3%;
  margin-top: 3%;
}
.feature-middle .timeline {
  font-size: 1.5rem;
  margin-top: 5%;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 28%;
}
.feature-middle .timeline h1 {
  font-size: 2rem;
}
.feature-middle .timeline img {
  width: 28%;
  height: auto;
  margin: 0;
  border-radius: 3%;
  display: flex;
}
.feature-middle .timeline p {
  width: 40%;
}
.feature-middle .timeline .time-p {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.feature-middle .beach-img {
  width: 20%;
  height: auto;
  margin: 0;
  border-radius: 3%;
}
.feature-middle .personality {
  width: 30%;
  padding: 3%;
  font-size: 1.5rem;
  margin-top: 1%;
}
.feature-middle .personality h1 {
  font-size: 2rem;
}
