.index-header {
  border-radius: 8px;
}

.feature-main {
  display: flex;
  margin: 3% 0;
  flex-wrap: nowrap;
  padding-bottom: 3%;
  border-bottom: 1px dashed grey;
  .feat {
    font-size: 1.5rem;
    width: 60%;
    margin-left: 5%;
    h1 {
      font-size: 2.5rem;
    }
  }
}

.feature-middle {
  display: flex;
  margin: 3% 0;
  flex-wrap: wrap;
  .filter {
    width: 30%;
    padding: 3%;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-top: 1%;
    h1 {
      font-size: 2rem;
    }
  }
  .features-img {
    width: 20%;
    height: auto;
    margin: 0;
    border-radius: 3%;
    margin-top: 3%;
  }

  .timeline {
    width: 30%;
    font-size: 1.5rem;
    margin-left: 35%;
    margin-top: 5%;

    h1 {
      font-size: 2rem;
    }
  }

  .beach-img {
    width: 20%;
    height: auto;
    margin: 0;
    border-radius: 3%;
  }

  .personality {
    width: 30%;
    padding: 3%;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-top: 1%;
    h1 {
      font-size: 2rem;
    }
  }
}
