header {

  img {
    border-radius: 8px;
  }

  .index-header {
    width: 100%;
    height: auto;

    @media @mobile {
      display: none;
    }
  }

  .index-header-m {
    display:none;

    @media @mobile {
      display: flex;
      width: 100%;
      height: auto;
    }
  }
}

.middle-content {
  display: flex;
  justify-content: center;
  margin: 5% auto;
  align-items: center;
  
  .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2%;

    h1 {
      font-size: 6rem;
      text-align: center;
    }

    .buttons {
      display: flex;
      justify-content: space-evenly;
      margin-top: 8%;
      
      button {
        .button();
      }

      .b-l {
        @media @mobile {
          display: none;
        }
      }
    }
  }

  .middle-img {
    margin-left: 2%;

    @media @mobile {
      display: none;
    }
  }
}


.lower-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90%;

  .summary {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;
  }

  .summary-ex {
    display: flex;
    flex-direction: column;
    p {
      margin: .5% auto;
      font-size: 1.3rem;
      line-height: 2rem;
    }
  }
}
