header {

  img {
    border-radius: 8px;
  }

  .index-header {
    width: 100%;
    height: auto;

    @media @mobile {
      display: none;
    }
  }

  .index-header-m {
    display:none;

    @media @mobile {
      display: flex;
      width: 100%;
      height: auto;
    }
  }
}

.middle-content {
  display: flex;
  justify-content: center;
  margin: 5% auto;
  align-items: center;

  @media @tablet {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
  }

  @media @mobile {
    display: flex;
    flex-direction: row;
    margin: 5% auto;
  }
  
  .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2%;

    @media @tablet {
      flex-direction: row;
      justify-content: space-between;
      margin: 2% auto;
    }

    @media @mobile {
      flex-direction: column;
      justify-content: center;
      margin: 0 2% 0 0;
    }

    h1 {
      font-size: 6rem;
      text-align: center;

      @media @tablet {
        margin: auto 2.5%;
        font-size: 5rem;
        width: 54%;
      }

      @media @mobile {
        margin: auto;
        font-size: 4rem;
        width: auto;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-evenly;
      margin-top: 8%;

      @media @tablet {
        flex-direction: column;
        width: 45%;
        // padding: 0 2%;
        margin: 2% auto;
      }

      @media @mobile {
        margin: 8% 0 0 0;
        flex-direction: row;
        width: 100%;
      }
      
      button {
        .button();

        @media @tablet {
          margin: 5% auto;
          padding: 6% 12%;
          border: 1px solid @border-theme;
        }

        @media @mobile {
          .button();
        }
      }

      .b-l {
        @media @mobile {
          display: none;
        }
      }
    }
  }

  .middle-img {
    margin-left: 2%;

    .welcome-img {
      @media @tablet {
        display: none;
      }
    }

    .tab-welcome-img {
      display: none;
      
      @media @tablet {
        display: inline-block;
        width: 100%;
      }

      @media @mobile {
        display: none;
      }
    }

    @media @tablet {
      margin: 0;
    }
  }

  
}


.lower-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90%;

  .summary {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;

    @media @tablet {
      margin-bottom: 0;
    }

    @media @mobile {
      margin: 0 0 5% 0;
    }

    p {
      @media @tablet {
        margin: 3% auto;
      }

      @media @mobile {
        margin: 0;
      }
    }
  }



  .summary-ex {
    display: flex;
    flex-direction: column;
    p {
      margin: .5% auto;
      font-size: 1.3rem;
      line-height: 2rem;

      @media @tablet {
        margin: 3% auto 0 auto;
      }

      @media @mobile {
        margin: .5% auto;
      }
    }
  }
}

  .tab-mid-img {
    display: none;

    @media @tablet {
      display: inline-block;
      width: 100%;
      border-radius: 8px;
    }

    @media @mobile {
      display: none;
    }
  }